//Colors
$main-color: #202020;
$second-color:#225ba5;
$white:#fff;
$black:#000;
//Font sizes
$biggest:20px;
$big:16px;
$normal:14px;
$middle:13px;
$small:12px;

//Layout sizes
$side-bar-w:40px;
$nav-height:50px;
$side-nav-w:320px